<div class="group">
  <form [formGroup]="form" class="min-widht">
      <div class="nome" style="align-items: flex-end;">
       		<div style="width: 95%; padding: 5px 3px 3px 3px;">
       			 <label> Nome </label>
        		 <input type="text" style="width: 99%;" formControlName="nome">
		      </div>
        <div style="padding: 5px 3px 3px 3px;">
       		 <input type="checkbox" formControlName="ativo">
		       Ativo
 	      </div>
      </div>

    <div class="nome" style="align-items: flex-end;">
	    <div style="width: 49%; padding: 5px 3px 3px 3px;">
        <label > Qtde de chamadas </label>
		    <input type="number" style="width: 99%;" formControlName="chamadas">
      </div>
	    <div style="width: 50%; padding: 5px 3px 3px 3px;">
        <label> Tempo entre uma chamada e outra (segundos) </label>
        <input type="number" style="width: 99%;"  formControlName="tempo">
      </div>
    </div>

    <div class="chama" style="align-items: flex-end;">
	    <div style="padding: 5px 3px 3px 3px;">
        <input type="checkbox" formControlName="recepcao">
		    Chama Recepção (PA)
	    </div>
	    <div style="padding: 5px 3px 3px 3px;">
        <input type="checkbox" formControlName="atendimento">
		    Chama Pré Atendimento (PA)
	    </div>
	    <div style="padding: 5px 3px 3px 3px;">
        <input type="checkbox" formControlName="estatistica">
		    Gera Estatística (PA)
		  </div>
    </div>

  </form>
</div>

<div class="bloco " style=" width: 200px; border: 1px solid #d3d3d3;  margin-left: 10px; align-self: flex-start; position: sticky; top: 5px;">
	<div class="menu-bloco subtitulo" style="text-align: center; margin-bottom: 1px; padding-top: 10px;  background: #d3d3d3; height:30px;  font-size: medium;">Opções</div>
      <mat-button-toggle style="text-align: center; width: 200px; height: 35px; " (click)="onClickMostrarEspec()">Especialidades</mat-button-toggle>
      <mat-button-toggle style=" width: 200px; height: 35px; " (click)="onClickMostrarSalas()">Salas</mat-button-toggle>
 </div>

<div *ngIf="mostrarespec" [class.active] ="" style="position: absolute; top: 225px; left: 210px; right: 5px; overflow-y: auto; bottom: 60px;">
  <div class="bloco " style="width: 98.9%; border: 1px solid #d3d3d3;  margin-left: 10px; margin-top: 5px;">
	  <div class="menu-bloco subtitulo" style="text-align: left;  padding-top: 10px; padding-left: 5px;  background: #d3d3d3; height:30px;  font-size: medium;">Especialidades</div>
  </div>
  <div class="bloco " style="width: 98.9%;  border: 1px solid #d3d3d3;  margin-left: 10px; margin-top: 5px;">
	  <div class="menu-bloco subtitulo" style="text-align: left;  padding-left: 5px;  background: #ffffff; font-size: medium;">
  </div>


  <form [formGroup]="formespec">
    <select formControlName="name" style="border: 1px solid #d3d3d3; width: 70%; margin: 5px; border-radius: 5px; ">
      <option value="null"></option>
      <option value="cardiologia">CARDIOLOGIA</option>
      <option value="cirurgia">CIRURGIA</option>
    </select>
    <button class="btn2" (click)="onSubmit2()"  >Adicionar</button>
    <button class="btn3" >Adicionar Todas</button>
   </form>

  </div>

  <div class="bloco " style="width: 98.9%; height: auto; border: 1px solid #d3d3d3;  margin-left: 10px; margin-top: 5px;">
    <mat-table [dataSource]="especialidades">
      <ng-container matColumnDef="delete">
       <mat-header-cell style="background: #d3d3d3;" *matHeaderCellDef>Excluir
        </mat-header-cell>
          <mat-cell *matCellDef="let espec">
            <button  mat-icon-button color="warn" aria-label="Remover Visor">
             <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
       <mat-header-cell style="background: #d3d3d3;"  *matHeaderCellDef> Nome </mat-header-cell>
         <mat-cell  *matCellDef="let espec"> {{ espec.name }} </mat-cell>
      </ng-container>
       <mat-header-row *matHeaderRowDef="displayedColumnsespec"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumnsespec;"></mat-row>
    </mat-table>
  </div>
</div>

<div *ngIf="mostrarsalas"  style="position: absolute; top: 225px; left: 210px; right: 5px; overflow-y: auto; bottom: 60px;">
  <div class="bloco " style="width: 98.9%; border: 1px solid #d3d3d3;  margin-left: 10px; margin-top: 5px;">
	  <div class="menu-bloco subtitulo" style="text-align: left;  padding-top: 10px; padding-left: 5px;  background: #d3d3d3; height:30px;  font-size: medium;">Salas</div>
  </div>
  <div class="bloco " style="width: 98.9%;  border: 1px solid #d3d3d3;  margin-left: 10px; margin-top: 5px;">
	  <div class="menu-bloco subtitulo" style="text-align: left;  padding-left: 5px;  background: #ffffff; font-size: medium;">
  </div>
  <form [formGroup]="formsalas">
    <select formControlName="name" style="border: 1px solid #d3d3d3; width: 70%; margin: 5px; border-radius: 5px; ">
      <option value="null"></option>
      <option value="cardiologia">CARDIOLOGIA</option>
      <option value="cirurgia">CIRURGIA</option>
    </select>
    <button class="btn2" (click)="onSubmit3()"  >Adicionar</button>
   </form>
  </div>
  <div class="bloco " style="width: 98.9%; height: auto; border: 1px solid #d3d3d3;  margin-left: 10px; margin-top: 5px;">
  <mat-table [dataSource]="especialidades">
    <ng-container matColumnDef="delete">
     <mat-header-cell style="background: #d3d3d3;"  *matHeaderCellDef>Excluir
      </mat-header-cell>
        <mat-cell *matCellDef="let visor">
          <button  mat-icon-button color="warn" aria-label="Remover Visor">
           <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
    </ng-container>
    <ng-container  matColumnDef="_id">
      <mat-header-cell style="background: #d3d3d3;" *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell  *matCellDef="let salas"> {{ salas._id }} </mat-cell>
     </ng-container>
     <ng-container matColumnDef="name">
      <mat-header-cell style="background: #d3d3d3;" *matHeaderCellDef> Nome </mat-header-cell>
       <mat-cell  *matCellDef="let espec"> {{ espec.name }} </mat-cell>
     </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsSalas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsSalas;"></mat-row>
  </mat-table>
 </div>
</div>



<mat-card class="btn-new">
<mat-card-actions>
  <button class="btn" (click)="onSubmit()">Gravar</button>
  <button (click)="onCancel()">Fechar</button>
</mat-card-actions>
</mat-card>
