<div>
  <div class="toolbar">
    <div style="margin:1px ;">
      <button class="adicionar" (click)="onAdd()"  aria-label="Adicionar um visor">
      <mat-icon class="add">add</mat-icon>
      </button>
    </div>
    <div style="margin:1px; padding: 5px;">
      <button (click)="refresh()" aria-label="Atualizar">
      <mat-icon >replay</mat-icon>
      </button>
    </div>
    <div style="margin:1px; padding: 5px;">
      <button  aria-label="Fechar">
      <mat-icon >sync</mat-icon>
      </button>
    </div>
    <div style="width: 1000px; height: 20px; margin: 30px 10px 30px 0px;">
      <input type="search" class="inputext">
    </div>
    <div style="width: 10px; margin: 50px 10px 30px 0px;">
      <input type="checkbox" formControlName="ativo">
    </div>
    <div style="width: 90px; margin: 50px 10px 30px 0px;">
      <label for="Ativos">Somente Ativos</label>
    </div>
  </div>

  <div>
    <app-visores-list
       *ngIf="visores$ | async as visores; else loading"
       [visores]="visores"
       (add)="onAdd()"
       (edit)="onEdit($event)"
       (remove)="onRemove($event)"
    ></app-visores-list>
   <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
   </ng-template>
  </div>
</div>
