


div {
  height: 40px;
  max-width: 100%;
  margin: 2em auto;
  box-sizing: border-box;
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  margin-left: 1px;
  margin-right: 1px;
}

.appvisores {
  width: auto;
  height: 1650%;
  margin: 5px;
  border: 1px solid #c4c3c3;
  background: white;
  border-radius: 3px;
}

.appbloco {
  width: 98.8%;
  height: auto;
  margin: 5px;
  border-right: 12px;
}

.toolbar {
  width: 99.4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 1px solid #c4c3c3;
  margin-top: -21px;
  margin-left: 5px;
  margin-right: 1px;
  margin-bottom: 1px;
  border-radius: 3px;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  box-sizing: border-box;
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;

}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
    color: #000000;
    font-size: 20px;
    height: 20px;
    width: 20px;

}

.add {
  color: white;
  text-align: center;
}

p {

  height: 20px;
  width: 30px;
  font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;

}

button {
  margin: 4px;
  background-color: white;
  border: none;
}

.adicionar {
  height: 30px;
  width: 30px;
  margin-left: 28px;
  background-color: rgb(3, 151, 3);
  border-radius: 50%;

}

.inputext {
  all: unset;
  width: 105%;
  border: 1px solid #d3d3d3;

}

.tabela {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 50%;

}

app-visores-list {
  width: 9%;
  background-color: #000000;

}


.mat-typography {
  background: #d3d3d3;
  height: 94%;
  margin-top: 0px;

}

.ativos{
  height: 1px;
  margin-top: 3px;
}


